<nav>
    <div [ngSwitch]="getCurrentModule()">
        <div class="module" *ngSwitchCase="Module[Module.Seasons].toLowerCase()">
            <div>Сезоны</div>
            <button color="accent" mat-button [matMenuTriggerFor]="menu">
                {{getCurrentSection(Module[Module.Seasons])}}
                <mat-icon color="accent">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu color="accent" #menu="matMenu" [overlapTrigger]="false">
                <a [routerLink]="['policies']" routerLinkActive="active" [style.display]="userService.isSectionAvailable(Module.Seasons, SeasonsSectionPermissionsNames[0])?'':'none'"
                    mat-menu-item>{{SeasonsSectionPermissionsNames[0]}}</a>
                <a [routerLink]="['logistics']" routerLinkActive="active" [style.display]="userService.isSectionAvailable(Module.Seasons, SeasonsSectionPermissionsNames[1])?'':'none'"
                    mat-menu-item>{{SeasonsSectionPermissionsNames[1]}}</a>
            </mat-menu>
        </div>
        <div *ngSwitchDefault>
        </div>

    </div>
</nav>
