@import '~@angular/material/_theming.scss';
@import 'projects/pim/src/pim-colors.scss';

:host {
    position: relative;
    height: 100%;
    width: 100%;
}

.layout {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;

    .main-card {
        width: 1100px;
        position: relative;
        height: calc(100% - 40px);
        align-self: center;
        padding: 0;

        .loading {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.06);
        }

        header {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 65px;

            button {
                align-self: center;
                margin: 0 20px 0 10px;
                transition: 200ms;

                .mat-icon {
                    font-size: 28px;
                    width: 28px;
                    height: 28px;
                    line-height: 27px;
                }


                &:hover:not(:disabled) {
                    background: map-get($pim-accent, 50);
                }

            }

            .inputs {
                display: flex;

                .input-form {
                    align-self: center;
                    margin-right: 20px;

                    .input-file {
                        width: 0.1px;
                        height: 0.1px;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        z-index: -1;

                        &.old {
                            &+label {
                                background-color: map-get($pim-accent, 300);
                            }
                        }

                        &.new {
                            &+label {
                                background-color: map-get($pim-accent, 700);
                            }
                        }

                        &+label {
                            border-radius: 4px;
                            height: 35px;
                            display: inline-block;
                            white-space: nowrap;
                            text-decoration: none;
                            vertical-align: baseline;
                            text-align: center;
                            margin: 0;
                            min-width: 88px;
                            width: 110px;
                            line-height: 35px;
                            padding: 0 16px;
                            color: white;
                            font-size: 14px;
                            font-weight: 400;
                            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                                0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                            cursor: pointer;
                        }

                        &:disabled {
                            &+label {
                                background-color: rgba(0, 0, 0, 0.12);
                                box-shadow: none;
                                color: rgba(0, 0, 0, 0.26);
                            }
                        }
                    }



                }
            }
        }

        .mat-divider {
            z-index: 800;
        }

        main {
            position: relative;
            width: 100%;
            height: calc(100% - 66px);
            overflow-y: auto;

            table {
                position: relative;
                width: 100%;

                .import {
                    overflow: hidden;
                    display: flex;
                    position: relative;

                    .item {
                        height: 300px;
                        position: relative;
                        width: 100%;
                        padding: 20px;
                        overflow-y: auto;

                        div {
                            margin-bottom: 10px;
                        }
                    }
                }

                tr {
                    transition: 200ms;

                    &.expanded-row {
                        td {
                            border-bottom-width: 0;
                            cursor: pointer;
                        }

                        &.selected {
                            background: map-get($pim-accent, 50);
                        }
                    }

                    &:hover:not(.row):not(.header-row) {
                        background: map-get($pim-accent, 100);
                    }

                    &.row {
                        height: 0;

                        td {
                            padding: 0;
                        }
                    }
                }

                .id,
                .name,
                .date,
                .importer,
                .error,
                .total {
                    padding-top: 5px;
                    padding-right: 10px;
                    padding-bottom: 5px;
                    word-wrap: break-word;
                }

                .id {
                    width: 50px;
                    max-width: 50px;
                }

                .name {
                    width: 200px;
                    max-width: 200px;
                }

                .date {
                    width: 140px;
                    max-width: 140px;
                }

                .importer {
                    width: 220px;
                    max-width: 220px;
                }

                .download {
                    width: 50px;

                    a:hover:not(:disabled) {
                        background: rgba(0, 0, 0, 0.08);
                    }
                }

                .date,
                .error,
                .total {
                    white-space: nowrap;
                }

                .error {
                    color: #e53935;
                }

                .status {
                    width: 70px;
                    max-width: 70px;

                    .mat-icon {
                        &.success {
                            color: #388e3c;
                        }

                        &.error {
                            color: #e53935;
                        }

                        &.warning {
                            color: #fbc02d;
                        }
                    }
                }
            }
        }
    }
}
