:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: white;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.15);
}

.logo {
    height: 78%;
    position: absolute;
    left: 100px;
    opacity: 0.1;
    transform: rotate(-35deg) scale(1.5);
    z-index: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    z-index: 900;
    .mat-form-field {
        width: 300px;
        font-size: 16px;
        font-weight: 400;
        input {
            outline: none;
            background-color: transparent;
            &:-webkit-autofill,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:active {
                -webkit-transition-delay: 99999s;
                transition-delay: 99999s;
            }
        }
    }
    .register {
        margin-top: 10px;
        height: 35px;
        font-size: 16px;
        font-weight: 300;
    }
    .login {
        margin-top: 10px;
        height: 35px;
        font-size: 14px;
        font-weight: 300;
    }
    .error {
        color: #d32f2f;
        font-size: 16px;
        font-weight: 300;
        margin-top: 15px;
        height: 50px;
        text-align: center;
    }
}
